<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel= "stylesheet" type= "text/css" href= "../static/style.css ">
</head>
<body>
      
    <div class="container">

        <form action="http://127.0.0.1:5000/generate-img" method="post" class="generate">
            
            <input type="text" placeholder="Текст тут" name="text">
            <button type="submit">
                Generate
            </button>

        </form>

    </div>
</body>
</html>